body { background: #000 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
html{scroll-behavior:smooth}

.navbar-spacer {
  height: 0px;
}

.navbar-brand
{
  padding-top: 0px;
}

centered {
  text-align: center;
}

.image-wallpaper {
  position: absolute;
  margin-right: 0px;
  padding-right: 0px;

}

.ycal {
  width: 256px;
  height: 90px;
  margin-top: 0px;
  margin-left: 0px;
}

.brand-text {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  position:relative;
  margin-top: -20px;
}

@media(max-width: 1600px) {
  .ycal {
    width: 192px;
    height: 68px;
  }
}

@media(max-width: 1300px) {
  .ycal {
    width: 128px;
    height: 45px;
  }
  .brand-text {
    font-size: 20px !important;
  }
}

@media(max-width: 680px) {
  .brand-text {
    color: #8a0000 !important;
  }
}

@media(max-width: 400px) {
  .ycal {
    width: 64px;
    height: 23px;
    margin-top: -20px;
    margin-left: -40px;
  }
  .brand-text {
    color: #8a0000 !important;
    font-size: 10px !important;
    position: absolute !important;
  }
}