body { background: #030303 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */


.navbar-spacer {
  height: 0px;
}

.navbar-brand
{
  padding-top: 0px;
}

centered {
  text-align: center;
}

.image-wallpaper {
  position: absolute;
  margin-right: 0px;
  padding-right: 0px;

}